:root {
    --primary: rgb(166, 207, 60);
    --secondary: rgb(251, 255, 245);
}

body {
    background-color: var(--secondary);
    margin: 0px;
}

main {
    margin: auto;
    margin-top: 7vw;
    margin-bottom: 3vw;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.bg-green {
    background-color: var(--primary);
}

.mt-0 {
    margin-top: 0 !important;
}

/* Navbar Styles */

nav {
    position: fixed;
    z-index: 2;
}

.largeNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    border-bottom: 2px solid black;
    padding: 1% 10%;
    position: fixed;
    width: 80%;
    background-color: var(--secondary);
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.smallNavContainer {
    display: none;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    border-bottom: 2px solid black;
    padding: 1% 10%;
    position: fixed;
    width: 80%;
    background-color: var(--secondary);
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.smallNavLinksHide {
    display: none;
}

.smallNavLinksShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6vh;
    width: 80vw;
    padding: 3vh 10vw;
    background-color: var(--secondary);
    border: 2px solid black;
}

.smallNavLinksShow a {
    display: block;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin: 2px auto;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    font-size: 2em;
    width: 80%;
}

.navbarImage {
    height: 5vw;
}

.navLinkContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.navLinkContainer a {
    padding: 10px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin: 0px 10px;

}

.navLinkContainer a:hover {
    animation-name: navLinkHoverAnim;
    animation-duration: 0.25s;
    border: 2px solid var(--primary);
    background-color: var(--secondary);
}

#activeLink {
    animation-name: none !important;
    border: 2px solid var(--primary);
    background-color: var(--secondary);
}

@keyframes navLinkHoverAnim {
    0% {
        border: 2px solid var(--primary);
        background-color: var(--primary);
    }

    100% {
        border: 2px solid var(--primary);
        background-color: var(--secondary);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .largeNavContainer {
        display: none;
    }
    .smallNavContainer {
        display: flex;
    }
    .navbarImage {
        height: 10vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .largeNavContainer {
        display: none;
    }
    .smallNavContainer {
        display: flex;
    }   
    .navbarImage {
        height: 10vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navLinkContainer a {
        font-size: .5em;
    }
    .smallNavLinksShow {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navLinkContainer a {
        font-size: .75em;
    }
    .smallNavLinksShow {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navLinkContainer a {
        font-size: 1em;
    }
    .smallNavLinksShow {
        display: none;
    }
}


/* Hero box */

.heroBox {
    background-image: url(../images/heroImage.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.aboutHeroBox {
    background-image: url(../images/aboutHero.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.serviceHeroBox {
    background-image: url(../images/servicesHero.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.rightHeroFlexContainer {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60vh;

}

.centerHeroFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.heroText {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.wideHeroText {
    width: 75%;
    padding: 20px;
}

.heroBox h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 10px 0 5px 0;
}

.aboutHeroBox h1 {
    text-align: center;
    font-size: 4em;
    margin: 20px 0 10px 0;
}

.serviceHeroBox h1 {
    text-align: center;
    font-size: 4em;
    margin: 20px 0 10px 0;
}

.heroText p {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 10px 0;
}

.heroText a {
    display: inline-block;
    padding: 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2rem;
    margin: 10px auto;
}

.heroText a:hover {
    animation-name: heroButtonHoverAnim;
    animation-duration: 0.3s;
    border: 2px solid transparent;
    background-color: var(--secondary);
    color: black;
}

@keyframes heroButtonHoverAnim {
    0% {
        border: 2px solid white;
        color: white;
        background-color: transparent;
    }

    100% {
        border: 2px solid transparent;
        background-color: var(--secondary);
        color: black;
    }
}

@media only screen and (max-width: 600px) {
    .heroBox {
        background-image: url(../images/smallHeroImage.png);
        background-position: 40% center;
    }
    .rightHeroFlexContainer {
        align-items: center;
        padding-bottom: 3vh;
        height: 70vh;
    }
    .heroText {
        width: 60%;
        margin: auto auto 0 auto;
        padding: 5px 40px;
        background-color: rgba(0, 0, 0, 0.616);
    }
    .heroText h1 {
        font-size: 2em;
        margin: 5px;
    }
    .heroText p {
        font-size: 1em;
        margin: 0;
    }
    .heroText a {
        font-size: 1.25em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .heroBox {
        background-image: url(../images/smallHeroImage.png);
        background-position: center 27%;
    }
    .rightHeroFlexContainer {
        align-items: center;
        padding-bottom: 3vh;
        height: 57vh;
    }
    .heroText {
        width: 80%;
        margin: auto auto 0 auto;
        padding: 5px 40px;
        background-color: rgba(0, 0, 0, 0.616);
    }
    .heroText h1 {
        font-size: 1.5em;
        margin: 5px;
    }
    .heroText p {
        font-size: 1em;
        margin: 0;
    }
    .heroText a {
        font-size: 1.25em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .heroText h1 {
        font-size: 2.5em;
    }
    .heroText p {
        font-size: 1.4em;
    }
    .heroText a {
        font-size: 1.4em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .heroText h1 {
        font-size: 3em;
    }
    .heroText p {
        font-size: 1.5em;
    }
    .heroText a {
        font-size: 1.5em;
    }
}

/* About box */

.aboutBox {
    background-color: var(--primary);
    margin-bottom: 20px;
    padding: 10px;
}

.aboutLargeFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutSmallFlexContainer {
    display: none;
    flex-direction: column;
    align-items: center;
}

.aboutLargeFlexContainer img {
    flex: 1;
    max-height: 25vw;
    border-radius: 10px;
    margin: 5px;
    object-fit: cover;
    object-position: center;
}

.aboutSmallFlexContainer img {
    max-height: 40vh;
    border-radius: 10px;
    margin: 5px;
    object-fit: cover;
    object-position: center 10%;
}

.aboutText {
    margin: 5px;
    height: 100%;
    flex: 1;
    padding: 40px;
    border-radius: 10px;
    margin: 0;
    margin: auto;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.aboutBox h3 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 10px 0;
}

.aboutText p {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

.aboutText a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.5rem;
    margin: 10px auto;
}

.aboutText a:hover {
    animation-name: aboutButtonHoverAnim;
    animation-duration: 0.3s;
    border: 2px solid transparent;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@keyframes aboutButtonHoverAnim {
    0% {
        border: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: transparent;
    }

    100% {
        border: 2px solid transparent;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

@media only screen and (max-width: 600px) {
    .aboutLargeFlexContainer {
        display: none;
    }
    .aboutSmallFlexContainer {
        display: flex;
    }
    .aboutText {
        padding: 10px;
    }
    .aboutText h3 {
        font-size: 2em;
    }
    .aboutText p {
        font-size: 1em;
    }
    .aboutText a {
        margin-top: 20px;
        font-size: 1.25em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .aboutLargeFlexContainer {
        display: none;
    }
    .aboutSmallFlexContainer {
        display: flex;
    }
    .aboutText {
        padding: 10px;
    }
    .aboutText h3 {
        font-size: 2.5em;
    }
    .aboutText p {
        font-size: 1.5em;
    }
    .aboutText a {
        margin-top: 20px;
        font-size: 1.5em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .aboutText h3 {
        font-size: 2em;
    }
    .aboutText p {
        font-size: 1em;
    }
    .aboutText a {
        font-size: 1.25em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .aboutText h3 {
        font-size: 2.5em;
    }
    .aboutText p {
        font-size: 1.25em;
    }
    .aboutText a {
        font-size: 1.25em;
    }
}


/* Where box (About page) */

.whereBox {
    margin: 30px auto;
}

.whereBox h3 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 10px 0;
}

@media only screen and (max-width: 600px) {
    .whereBox h3 {
        font-size: 2em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .whereBox h3 {
        font-size: 2.5em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .whereBox h3 {
        font-size: 2em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .whereBox h3 {
        font-size: 2.5em;
    }
}

/* Services box */

.servicesBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    align-items: center;
    padding: 10px;
}

.servicesBox h2 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 0px 0;
}

.servicesBox hr {
    background-color: black;
    margin: 5px 0;
    padding: 1px;
    width: 100%;
}

.servicesHeaderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.serviceHeader {
    display: block;
    background-color: var(--primary);
    min-height: 10vw;
    border-radius: 10px;
    border: 2px solid black;
    flex: 1;
    margin: 10px;
    cursor: default;
    text-decoration: none;
}

.serviceHeader h3 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 10px 0;
    color: black;
}

.serviceHeader:hover {
    animation-name: serviceHeaderHoverAnim;
    animation-duration: 0.3s;
    position: relative;
    bottom: 10px;
    box-shadow: 1px 10px rgba(0, 0, 0, 0.7);
}

@keyframes serviceHeaderHoverAnim {
    0% {
        bottom: 0px;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.7);
    }

    100% {
        bottom: 10px;
        box-shadow: 1px 10px rgba(0, 0, 0, 0.7);
    }
}

.serviceSvgContainer {
    margin: 20px 20% 0 20%;
    height: 0;
    padding-bottom: 65%;
}

.servicesTable {
    border-collapse: collapse;
    font-size: 2em;
    width: 100%;
}

.servicesTable tr:nth-child(even) {
    background-color: #dddddd;
}

.servicesTable tr:nth-child(odd) {
    background-color: #ffffff;
}

.servicesTable th {
    font-weight: bold;
    border: 1px dotted black;
    padding: 5px;
}

.servicesTable td {
    border: 1px dotted black;
    padding: 5px;
}

.serviceDisclaimer {
    text-align: left;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .servicesHeaderContainer {
        display: none;
    }
    .servicesBox h2 {
        font-size: 2.25em;
    }
    .servicesTable {
        font-size: .75em;
    }
    .serviceDisclaimer {
        font-size: .5em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .servicesHeaderContainer {
        display: none;
    }
    .servicesBox h2 {
        font-size: 2.5em;
    }
    .servicesTable {
        font-size: 1.25em;
    }
    .serviceDisclaimer {
        font-size: .75em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .serviceHeader h3 {
        font-size: 1.5em;
    }
    .servicesBox h2 {
        font-size: 2.25em;
    }
    .servicesTable {
        font-size: 1.5em;
    }
    .serviceDisclaimer {
        font-size: .75em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .serviceHeader h3 {
        font-size: 2em;
    }
    .servicesBox h2 {
        font-size: 2.5em;
    }
    .servicesTable {
        font-size: 1.75em;
    }
    .serviceDisclaimer {
        font-size: .75em;
    }
}

/* TESTIMONIALS */

.testimonialsBox {
    background-color: var(--primary);
    padding: 20px;
}

.testimonialsBox h2 {
    font-size: 3em;
    text-align: center;
}

.testimonialBoxLeft {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.testimonialBoxRight {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 30px 0 30px auto;
}

.testimonialText {
    font-size: 1.5em;
}

.testimonialAuthor {
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .testimonialsBox h2 {
        font-size: 2em;
    }
    .testimonialText {
        font-size: 0.75em;
    }
    .testimonialAuthor {
        font-size: 0.5em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .testimonialsBox h2 {
        font-size: 2.5em;
    }
    .testimonialText {
        font-size: 1em;
    }
    .testimonialAuthor {
        font-size: 0.75em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .testimonialsBox h2 {
        font-size: 2.25em;
    }
    .testimonialText {
        font-size: 1em;
    }
    .testimonialAuthor {
        font-size: 0.75em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .testimonialsBox h2 {
        font-size: 2.5em;
    }
    .testimonialText {
        font-size: 1.25em;
    }
    .testimonialAuthor {
        font-size: 0.9em;
    }
}

/* CONTACT FORM */

.contactFormBox {
    margin: 20px auto;
    padding: 20px;
}

.contactFormText {
    text-align: center;
}

.contactFormText h2 {
    font-size: 3em;
    margin: 0;
}

.contactFormText p {
    margin: 0;
    font-size: 1.5em;
}

.contactFormText p a {
    display: inline-block;
    padding: 10px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px;
}

.contactFormText p a:hover {
    animation-name: contactNowButtonHoverAnim;
    animation-duration: 0.3s;
    background-color: transparent;
}

@keyframes contactNowButtonHoverAnim {
    0% {
        background-color: var(--primary);
    }

    100% {
        background-color: transparent;
    }
}

.contactFormBox form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactFormBox form input {
    width: 80%;
    margin: 10px auto;
    font-size: 2em;
    padding: 1%;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.contactFormBox form textarea {
    width: 80%;
    margin: 10px auto;
    font-size: 1.75em;
    padding: 1%;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.contactFormBox form input[type=submit] {
    background-color: white;
    width: 80%;
}

.contactFormBox form input[type=submit]:hover {
    animation-name: contactSubmitButtonHoverAnim;
    animation-duration: 0.3s;
    background-color: var(--primary);
    position: relative;
    bottom: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.699);
}


@keyframes contactSubmitButtonHoverAnim {
    0% {
        background-color: white;
        box-shadow: none;
        bottom: 0;
    }

    100% {
        background-color: var(--primary);
        box-shadow: 1px 2px rgba(0, 0, 0, 0.699);
        bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .contactFormText p {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactFormText p a {
        margin: 5px;
    }
    .contactFormText h2 {
        font-size: 2.25em;
    }
    .contactFormText p {
        font-size: 1em;
    }
    .contactFormBox form input {
        width: 96%;
        font-size: 1em;
        margin: .5%;
        border-radius: 5px;
    }
    .contactFormBox form textarea {
        width: 96%;
        font-size: .8em;
        margin: .5%;
        border-radius: 5px;
    }
    .contactFormBox form input[type=submit] {
        background-color: white;
        width: 98%;
        font-size: .8em;
        margin: .5%;
        border-radius: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .contactFormText p {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactFormText p a {
        margin: 5px;
    }
    .contactFormText h2 {
        font-size: 2.5em;
    }
    .contactFormText p {
        font-size: 1.25em;
    }
    .contactFormBox form input {
        width: 98%;
        font-size: 1.25em;
        margin: 3px auto;
    }
    .contactFormBox form textarea {
        width: 98%;
        font-size: 1em;
        margin: 3px auto;
    }
    .contactFormBox form input[type=submit] {
        background-color: white;
        width: 100%;
        margin: 3px auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .contactFormText h2 {
        font-size: 2.25em;
    }
    .contactFormText p {
        font-size: 1.4em;
    }
    .contactFormBox form input {
        font-size: 1.5em;
    }
    .contactFormBox form textarea {
        font-size: 1.25em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contactFormText h2 {
        font-size: 2.5em;
    }
    .contactFormText p {
        font-size: 1.75em;
    }
    .contactFormBox form input {
        font-size: 1.75em;
    }
    .contactFormBox form textarea {
        font-size: 1.5em;
    }
}

/* FOOTER */

footer {
    padding: 5px;
    margin-top: 10px;
    padding-bottom: 5vh;
    background-color: var(--primary);
}

.footerFlexContainer {
    display: flex;
    justify-content: space-between;
}

.footerNavLinks {
    flex: 1;
}

.footerContact {
    flex: 1;
}
.footerList {
    list-style-type: disc;
}

.footerLI {
    margin: 0 0 5px 0;
}

.footerTitle {
    list-style-type: none;
    font-size: 2em;
    margin: 0 0 5px 0;
}

.copyright {
    font-size: 1em;
    text-align: center;
}

.footerLink {
    font-size: 1.75em;
    color: black;
    display: inline;
    text-decoration: none;
    padding: 0px 5px;
    border-bottom: 2px solid transparent;
}

.footerWatermark {
    color: black;
}

.footerLink:hover {
    animation-name: footerHoverAnim;
    animation-duration: 0.5s;
    border-bottom: 2px solid black;
}

@keyframes footerHoverAnim {
    0% {
        border-bottom: 2px solid transparent;
    }

    100% {
        border-bottom: 2px solid black;
    }
}

@media only screen and (max-width: 600px) {
    .footerFlexContainer {
        flex-direction: column;
    }
    .footerTitle {
        font-size: 1.5em;
        text-align: center;
    }
    .footerLink {
        font-size: 1em;
    }
    .copyright {
        font-size: .75em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .footerFlexContainer {
        flex-direction: column;
    }
    .footerTitle {
        font-size: 1.75em;
        text-align: center;
    }
    .footerLink {
        font-size: 1.5em;
    }
    .copyright {
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .footerTitle {
        font-size: 1.75em;
    }
    .footerLink {
        font-size: 1.4em;
    }
    .copyright {
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footerTitle {
        font-size: 2em;
    }
    .footerLink {
        font-size: 1.75em;
    }
    .copyright {
        font-size: 1em;
    }
}